<a href="/" {{#if home}}class="active" {{/if}}>Home</a> ||
<a href="/about" {{#if about}}class="active" {{/if}}>About</a> ||
<a href="/subpage" {{#if subpage}}class="active" {{/if}}>subpage</a> ||
<a href="/subpage/subpage1" {{#if subpage1}}class="active" {{/if}}>subpage/subpage1</a>||
<a href="/subpage/subpage2" {{#if subpage2}}class="active" {{/if}}>subpage/subpage2</a>
