@charset "utf-8";
:root {
  --cell-size: 5em;
  --grid-size: 5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .konti {
    padding-top: 5em;
  
    display: grid;
    
    justify-content: center;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    
    grid-gap: 0.5em;
    
 }
 
 .konti div {
   background: #000;
   border: 1px solid #000;
   border-radius: 0.3em;
 }
 
 .konti div:nth-child(even) {
   background: #fff;
 }
 
