@charset "utf-8";  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .konti {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin: 15px 10px;
 }
  header, main, aside, footer {
    background: #000;
    color: #fff;
    padding: 15px 10px;
  }
  header, footer {
    grid-column-start: span 2;
  }
