@charset "utf-8";
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 50px 1.75%; 
    margin-left: 1.75%;
    margin-top: 50px;
  }
  div {
    background: #000;
    color: #fff;
    height: 100px;
    line-height: 100px;
    margin-left: 1.75%;
    padding-left: 1.75%;
  }
