nav {
  position: absolute;
  left: 0; 
  top: 0; 
  bottom: 0;
  right: 0;
  margin: auto;

  width: 300px;
  height: 200px;

  border: 1px solid red;
}

nav li {
  list-style: none;
  /* transform: translateX(-2em);
  transition: transform 10s ease-in; */
  opacity: 0;
  transform: translateX(0);
  animation: listu 1s linear;
  animation-fill-mode: both;

}
body.loaded nav li {
  opacity: 1;
  transform: translateX(0);
}
/* nav li:nth-child(1) { transition-delay: 1s; }
nav li:nth-child(2) { transition-delay: 2s; }
nav li:nth-child(3) { transition-delay: 3s; }
nav li:nth-child(4) { transition-delay: 4s; }
nav li:nth-child(5) { transition-delay: 5s; }
nav li:nth-child(6) { transition-delay: 6s; }
nav li:nth-child(7) { transition-delay: 7s; }
 
nav li:nth-child(1) {
  animation: listu1 1s linear;
  animation-delay: 1s; 
  /* opacity: 1; */

}
nav li:nth-child(2) {
  animation: listu2 1s linear;
  animation-delay: 2s; 
  /* opacity: 1; */
}*/
nav li:nth-child(1) { animation-delay: 1s; }
nav li:nth-child(2) { animation-delay: 2s; }
nav li:nth-child(3) { animation-delay: 3s; }
nav li:nth-child(4) { animation-delay: 4s; }
nav li:nth-child(5) { animation-delay: 5s; }
nav li:nth-child(6) { animation-delay: 6s; }
nav li:nth-child(7) { animation-delay: 7s; }


@keyframes listu { 
  0% { transform: translateX(-2em); opacity: 0;}
  75% { transform: translateX(0); opacity: 0.5;}
  100% { opacity: 1;}
}

/* @keyframes listu2 { 
  0% { transform: translateX(-2em);}
  100% { transform: translateX(0);}
} */